{#
/**
 * @file venue.html.twig
 * Default theme implementation to present Venue data.
 *
 * This template is used when viewing Venue pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_venue()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('venue') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
